
.idea/inspectionProfiles/profiles_settings.xml
dist/my_package_MY_APP_NAME_HERE-0.0.1-py3-none-any.whl
dist/my-package-MY_APP_NAME_HERE-0.0.1.tar.gz
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/packaging_tutorial.iml
src/__pycache__/__init__.cpython-38.pyc
src/gui_ext/__pycache__/__init__.cpython-38.pyc
*.pyc
src/my_package_MY_APP_NAME_HERE.egg-info/dependency_links.txt
src/my_package_MY_APP_NAME_HERE.egg-info/PKG-INFO
src/my_package_MY_APP_NAME_HERE.egg-info/SOURCES.txt
src/my_package_MY_APP_NAME_HERE.egg-info/top_level.txt
__token__.py
*.pth
